body {
    font-family: 'Slabo 27px';
    font-size: 22px;
    background-image: url("../img/pattern.jpg");
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
}

header img {
    position: absolute;
}

header nav ul {
    display: flex;
    float: right;
}

header nav li {
    list-style-type: none;
    padding-right: 20px;
    display: inline;
    font-weight: bold;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

section {
    width: 75%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 90px;
}

p {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

footer {
    color: white;
    background-color: black;
    padding: 1px;
    bottom: 0;
    text-align: center;
}